<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/TesteDB</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="gerenciador.usuario.Usuario"/>
		<mapping class="gerenciador.atividade.Atividade"/>
		<mapping class="gerenciador.quadro.Quadro"/>
		<mapping class="gerenciador.grupo.Grupo"/>
		
	</session-factory>
</hibernate-configuration>